body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: orange;
  background-image: url(images/lionnes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.block-container {
  max-width: 800px;
  background-color: rgba(255, 100, 5, 0.7);


}

h1 {
  text-align: center;
  display: block;
  padding: 1em;
  border: 2px solid;
  justify-content: space-around;
}


p {
  margin: 5em;
}
