body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: orange;
  background-image: url(images/lionnes.jpg);
  background-repeat: no-repeat;
  background-size: cover;


}



.block-container {
  max-width: 800px;
  background-color: white;
}


p {
  margin: 5em;
  font-size: 2em;
}


#premier-titre {
  text-align: center;
  display: block;
  padding: 0.5em;
  border-top: 4px solid;
  border-bottom:4px solid;
  justify-content: space-around;
  font-size: 10em;
}


.block-container-second {
  background-color: red;
  height: 80em;
  position: relative;
  top: 40em;

}

#deuxieme-titre {

  font-size: 10em;
  text-align: center;
  border-top: 4px solid;
  border-bottom:4px solid;


}

#deuxieme-fable {
  text-align: left;

}
#citation {
  font-style: italic;
  font-weight: bold;
  font-size: 3em;
  position: relative;
  top: -4em;
  text-align: left;
}
